<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookstore.com</title>
    <link rel="stylesheet" href="lrstyle.css">
  </head>
  <body>
    <h1 style="text-align:center">Bookstore.com</h1>
    <div id="loginOuterBox">
      <h3 style="text-align:center">Login</h3>
      <p>Username</p>
      <input class="fields" id="username" placeholder="Enter your username..." type="text">
      <br>
      <p>Password</p>
      <input class="fields" id="password" placeholder="Enter your password..." type="password">
      <br>
      <a id="loginButton" class="buttons">Login</a>
      <hr>
      <h2 style="text-align:center">New User?</h2>
      <a id="registerButton" href="register.html" class="buttons">Register Here</a>
      
    </div>
  </body>
</html>